<% if @customer.company && @customer.family_name %>
  <p><%= @customer.company  %></p>
  <p><%= @customer.family_name %> 様</p>
<% end %>

<p>お世話になっております。<br><p>

<p>先ほど頂きましたお問い合わせについて、後程CarMakerサービスチームからご回答させていただきます。<br>
取り急ぎご質問受領のご連絡とさせていただきます。<br>
何卒よろしくお願い致します。</p>

<p>またお客様がご使用中のライセンスを確認させていただくため、<br>
ライセンス番号をご連絡いただきたく存じます。</p>

<p>大変お手数をおかけいたしますが、次回のお問い合わせより<br>
CarMaker GUIのHelp -> License Infoで表示される<br>
License No.(CM-xxxx / TM-xxxx / MM-xxxx）を弊社までご連絡ください。</p>
