<p>本メールは自動送信です。</p>

<% if @customer.company && @customer.family_name %>
  <p><%= @customer.company  %><br>
     <%= @customer.family_name %> 様</p>
<% end %>

<p>お世話になっております。<br><p>

<p>先ほど頂きましたお問い合わせについて、後程CarMakerサービスチームからご回答させていただきます。<br>
取り急ぎご質問受領のご連絡とさせていただきます。<br>
何卒よろしくお願い致します。</p>
