<% if @customer.company && @customer.family_name %>
  <p><%= @customer.company  %></p>
  <p><%= @customer.family_name %> 様</p>
<% end %>

お世話になっております。

先ほど頂きましたお問い合わせについて、後程CarMakerサービスチームからご回答させていただきます。
取り急ぎご質問受領のご連絡とさせていただきます。
何卒よろしくお願いいたします。
