
.license-check-button {
	padding-top: 10px;
}

.license-check-label {
	display:block;
	float:left;
	width: 150px;
}


.license-check-result {
	font-family: Verdana, sans-serif;
	padding-top: 15px;

}

.license-check-result .license-check-invalid {
  font-size: 18px;
  color: red;
}

.license-check-result .license-check-valid {
  font-size: 12px;
  color: green;
}

.customer-search {
	padding-top: 10px;
}

.customer-search .customer-search-label {
	display:block;
	float:left;
	width: 150px;
}

.customer-search .customer-search-input {
	padding-left: 20px;
	width: 200px;
}

.customer-search-result {
	font-family: Verdana, sans-serif;
	padding-top: 15px;
}

.customer-search-button {
	padding-top: 10px;
}
