
.license-check-button {
	padding-top: 10px;
}

.license-check-label {
	display:block;
	float:left;
	width: 150px;
}


.license-check-result {
	font-family: Verdana, sans-serif;
	padding-top: 15px;
	margin-bottom: 30px;
	display:block;
	float:left;
	font-size: 14px;
	width: 100%;
}

.license-check-result > .license-check-result-show {
	padding: 5px 0px;
	width: 100%;
}

.license-check-result > .license-check-result-show > .license-check-result-show-unit {
	padding: 5px 10px;
}

.license-check-invalid {
	font-size: 14px;
	font-style: bold;
	color: red;
}

.license-check-valid {
	font-size: 14px;
	color: green;
}
.license-check-not-exist {
	font-size: 18px;
	color: red;
}




.customer-search {
	padding-top: 10px;
}

.customer-search .customer-search-label {
	display:block;
	float:left;
	width: 150px;
}

.customer-search .customer-search-input {
	padding-left: 20px;
	width: 200px;
}

.customer-search-result {
	font-family: Verdana, sans-serif;
	padding-top: 15px;
}

.customer-search-button {
	padding-top: 10px;
}
