<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>HTML</title>
			<style type="text/css">
      			body { font-family: 'Meiryo UI', 'Arial', 'メイリオ', cursive; }
    		</style>
	</head>
 	
 	<body>

		<% if @customer.company && @customer.family_name %>
		  <p><%= @customer.company  %><br>
		     <%= @customer.family_name %> 様</p>
		<% end %>

		<p>拝啓</p>

		<p>
		貴社ますますご清祥のこととお慶び申し上げます．<br>
		平素は格別のご高配を賜り，厚く御礼申し上げます．<br>
		</p>

		<p>
		この度は弊社CarMakerサービスチームへお問い合わせ頂き，誠にありがとうございます．<br>
		弊社では，お客様の満足度向上を目的とした業務改善を行うため，弊社サービスチームへお問い合わせ頂いたお客様の満足度調査を実施致しております．<br>
		頂戴しましたお客様の声を元に，より一層の顧客サービスをご提供できるよう取り組んでまいります．<br>
		</p>

		<p>
		ご多忙な中，大変恐縮ですが，以下の「IPG Automotive満足度調査」の各設問にある 【】 の中に，該当する番号を記入いただき，リプライ頂ければ幸甚です．<br>
		また (自由記入欄)では，忌憚のないご意見を頂ければ幸いです．<br>
		回答例：<br>
		+ 1. 担当エンジニアの対応の質について 【1】<br>
		</p>

		<p>(注) 今後，このようなメールを受信されたくない方は，このメールのリプライにて連絡いただければ対処させて頂きます．</p>

		<p>
		敬具<br>
		========================================================<br>
		IPG Automotive顧客満足度調査<br>
		<br>
		1. 担当エンジニアの対応の質について 【 】<br>
		-   1. 非常に良い     2. 良い     3. 普通     4. 少し悪い     5.非常に悪い<br>
		<br>
		2. “質” に関し，何かお気づきの点があればご教示ください．(自由記入欄)<br>
		<br>
		3. 回答および問題解決までの時間/期間 【 】<br>
		-   1. 非常に早い     2. 早い     3. 普通     4. 少し遅い     5.非常に遅い<br>
		<br>
		4. 担当エンジニアの回答内容 【 】<br>
		-   1. 非常に的確     2. 的確    3. 普通     4. 誤情報あり   5.誤情報多い<br>
		<br>
		5. 担当エンジニアの知識レベル 【 】<br>
		-   1. 非常に高い     2. 高い     3. 普通     4. 少し低い     5.非常に低い<br>
		<br>
		6. (購入前と購入後で)製品の仕様/機能に対する満足度の違い 【 】<br>
		-   1. 非常に満足     2. 満足     3. 普通     4. 少し不満     5.非常に不満<br>
		<br>
		7. 「少し不満」，「非常に不満」と回答されたお客様へ:その理由を教えて下さい．<br>
		   (自由記入欄)<br>
		<br>
		満足度調査へのご協力，ありがとうございました．<br>
		</p>

		<p>
		【個人情報のお取り扱いについて】<br>
		本調査の結果は，弊社製品およびサービスの今後の更なる改善のために，弊社全従業員で利用させていただきます．<br>
		その他目的での利用や他社に提供することは一切ございません．<br>
		</p>
		
		<p>
		-------------------------------------------------------<br>
		CarMakerサービスチーム<br><br>
		
		IPG Automotive株式会社<br>
		〒105-0003 東京都港区西新橋二丁目9番1号　PMO西新橋9F<br><br>

		Phone: 03-5826-4303(サポート専用ダイヤル) Fax: 03-5826-4302<br>
		E-mail: carmaker-service-jp@ipg-automotive.com<br>
		URL: www.ipg-automotive.com<br><br>

		SOLUTIONS FOR VIRTUAL TEST DRIVING<br><br>

		このメールおよび/または添付ファイルの情報は機密であり、法的に秘匿特権を有します。もし受取人でない場合は、このメールおよび/または添付ファイルを参照、配布、コピーすることは固く禁止されております。誤って受信された場合は、速やかに弊社までメールにてご連絡の上、このメールおよび/または添付ファイルの削除をいただけますようお願いいたします。<br>
		</p>
	
	</body>
</html>
