<% if @customer.company && @customer.family_name %>
  <p><%= @customer.company  %><br>
     <%= @customer.family_name %> 様</p>
<% end %>

<p>いつもお世話になっております。<br>
お忙しい中、顧客満足度調査にご回答いただきありがとうございました。今後のサービス提供へ参考にさせていただきます。今後ともどうぞよろしくお願い申し上げます。
</p>

<p>IPG Automotive株式会社<br>
CarMakerサービスチーム
</p>
